<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A express.js based web</title>
    <link rel="stylesheet" href="../stylesheets/style.css">       <!--we can do "../stylesheets/style.css" or only "/stylesheets/style.css"  -->
</head>
<body>
    
    <h4><%= age%></h4> 
    
   <nav class="lux-nav">
    <a href="#">Home</a>
    <a href="#">Collection</a>
    <a href="#">Contact</a>
  </nav>

<div class="hero-container">
     
        <div id="canvas-container"></div>
        
        <div class="content">
            <div class="decorative-lines"></div>
            
            <h1 class="hero-title">LUXURY<br>REDEFINED</h1>
            
            <p class="hero-subtitle">ELEGANCE IN MOTION </p>
            
            <p class="hero-description">
                Experience the perfect harmony of sophistication and innovation, 
                where every detail is crafted to embody timeless luxury and modern refinement.
            </p>
            
            <a href="https://sohrabzia.github.io/" class="cta-button">Discover More</a>
        </div>
    </div>


    <script src="/javascripts/script.js"></script>
</body>
</html>